<?xml version='1.0' encoding='utf-8'?>
<robot name="generated_robot">
  <link name="base_link">
    <inertial>
      <origin xyz="-5.289826e-08 0.0096044129 0.074516494" rpy="0 0 0" />
      <mass value="127.84851" />
      <inertia ixx="20.014444" iyy="19.377" izz="23.15771" ixy="-5.7526144e-08" ixz="-7.2249073e-07" iyz="0.45698878" />
    </inertial>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_023_solid_023.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_011_solid_011.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_015_solid_015.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_007_solid_007.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_006_solid_006.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_013_solid_013.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_008_solid_008.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_010_solid_010.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_014_solid_014.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_004_solid_004.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_005_solid_005.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_002_solid_002.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_012_solid_012.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_003_solid_003.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_001_solid_001.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_009_solid_009.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_016_solid_016.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_023_solid_023.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_011_solid_011.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_015_solid_015.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_007_solid_007.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_006_solid_006.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_013_solid_013.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_008_solid_008.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_010_solid_010.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_014_solid_014.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_004_solid_004.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_005_solid_005.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_002_solid_002.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_012_solid_012.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_003_solid_003.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_001_solid_001.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_009_solid_009.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.7456337 -0.74786146 0.75564012" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_016_solid_016.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="link_002">
    <inertial>
      <origin xyz="0.0082906926 0.0080729915 0.026643313" rpy="0 0 0" />
      <mass value="0.32982793" />
      <inertia ixx="0.00026270286" iyy="0.00021715273" izz="0.00022125005" ixy="-4.3272029e-05" ixz="-5.9783517e-05" iyz="-6.9853028e-05" />
    </inertial>
    <visual>
      <origin xyz="0.74563369 -1.1422401 -1.1558721" rpy="1.5707963 0 0" />
      <geometry>
        <mesh filename="meshes/part_017_solid_017.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.74563369 -1.1422401 -1.1558721" rpy="1.5707963 0 0" />
      <geometry>
        <mesh filename="meshes/part_017_solid_017.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="link_003">
    <inertial>
      <origin xyz="-0.099008647 0.027997845 0.01730534" rpy="0 0 0" />
      <mass value="1.6833734" />
      <inertia ixx="0.0010259129" iyy="0.0089635085" izz="0.0093799411" ixy="0.0013611527" ixz="5.95968e-07" iyz="-2.7530333e-08" />
    </inertial>
    <visual>
      <origin xyz="-1.2063721 -1.1722401 -0.72894357" rpy="0 1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_018_solid_018.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-1.2063721 -1.1722401 -0.72894357" rpy="0 1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_018_solid_018.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <link name="link_004">
    <inertial>
      <origin xyz="0.12113248 -0.02816801 -0.014934833" rpy="0 0 0" />
      <mass value="1.3666849" />
      <inertia ixx="0.00058257624" iyy="0.0084245597" izz="0.0084298337" ixy="0.00031026529" ixz="0.00029788443" iyz="-5.4860878e-05" />
    </inertial>
    <visual>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_019_solid_019.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_021_solid_021.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_020_solid_020.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <visual>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_022_solid_022.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_019_solid_019.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_021_solid_021.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_020_solid_020.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-1.0083721 1.2282401 0.73083369" rpy="0 -1.5707963 -1.5707963" />
      <geometry>
        <mesh filename="meshes/part_022_solid_022.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>
  <joint name="link_002_joint" type="revolute">
    <origin xyz="4.4200001e-09 0.40801064 -0.3866" rpy="-1.5707963 0 0" />
    <parent link="base_link" />
    <child link="link_002" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="10" velocity="5" />
  </joint>
  <joint name="link_003_joint" type="revolute">
    <origin xyz="0.016690119 0.03 0.0505" rpy="0 -1.5707963 0" />
    <parent link="link_002" />
    <child link="link_003" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="10" velocity="5" />
  </joint>
  <joint name="link_004_joint" type="revolute">
    <origin xyz="-0.198 0.056 0.0018901193" rpy="3.1415927 0 0" />
    <parent link="link_003" />
    <child link="link_004" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="10" velocity="5" />
  </joint>
</robot>